
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>欢迎</title>

    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <style type="text/css">
        #container {
            background: url("../static/images/intro1.png");
            background-position: 100% 100%;
            background-size: 100% 100%;
            width:100%;
            height:100%;
        }
    </style>
</head>

<body>
    <div id="container" class="cls-container">

    </div>

</body>

</html>